.vs/*
.venv
.env
__pycache__/
*.py[cod]
*$py.class
.vscode/*
common/__pycache__/__init__.cpython-311.pyc
common/__pycache__/prompts.cpython-311.pyc
common/__pycache__/rfp.cpython-311.pyc
requirements_extraction/cosmos_test.py
requirements_extraction/__pycache__/__init__.cpython-311.pyc
requirements_extraction/__pycache__/extract_requirements.cpython-311.pyc
requirements_extraction/__pycache__/prompts.cpython-311.pyc
upload/__pycache__/__init__.cpython-311.pyc
upload/__pycache__/upload_test.cpython-311.pyc
upload/__pycache__/upload.cpython-311.pyc
__pycache__/prompts.cpython-311.pyc
requirements_extraction/old_code.py
upload/old_code.py
common/__pycache__/global_vars.cpython-311.pyc
